.container.main-a.col-md-12
  - @posts.each_with_index do|f,i| 
    %div{:class => "post #{'first' if i==0}"} 
      %h2{:class=>'title'}
        =link_to f.title, controller: "home", action: "show", id: f.id
      .postmeta
        .authordetail
          =t('author')+": "+f.user.username
        .create_post
          =t('create_at')+": "
          =f.created_at
        .clearfix
      .content
        =f.content.truncate(480, separator: ' ')
      .comment_count
      %h5=t('comment')+': '+f.comment.size.to_s
      -if f.content.size>480
        .readdetail.btn.red 
          =link_to t('continous reading ...'),controller: "home", action: "show", id: f.id
      
  =paginate @posts
.clearfix
