.red{
	background-color: #ff4040
}
// NAV BAR
.navbar.navbar-static-top{
	margin-bottom: 0px;
	background-color:#2F2F2F
}
.navbar-default .navbar-nav>li>a,.navbar-nav>li{
	color: #faebd7;
	font-size: medium;
	font-style:Smart Green;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #faebd7;
}
.navbar-default .navbar-nav> li :not(:has(> a)){
	background-color: red;
	padding-top: 10px;
}
.container{
	line-height: 1.6;
}
// Main CONTENT 
.main > .container.main-a{
	background: #fff;
	padding-left:30px;
	margin-left: 0px;
	text-align: justify;
}
.main>.main-a> a:link,a:visited {
	text-decoration: none;
	color: #EA1E30;
}
.post .content {
	margin-bottom: 1.2em;
	position: relative;
}
.post >.readdetail{
	font-size: 13px;
}
.post >.readdetail > a{
	color: #fff;
}
.post {
	margin-top: 22px;
	padding-top: 20px;
	border-top: 2px solid #e7e7e7;
}
.post.first{
	border-top: 0px;
}
.authordetail,.create_post{
	font-size: 11px;
}
.content{
	padding-top:10px
}
.container.main-a >.pagination{
	width:100%;
	margin-top:5px;
	border-top: 2px solid #e7e7e7;
}
//show form
.container.form-show{
	margin-top:15px;
	padding-top:15px;
}
.container.form-show
	.postContent
		.title{
			margin: 0 0 14px 0;
			font-size: 30px;
			font-weight: normal;
			color: #221f20;
			line-height: 38px;
		}
		.postmedia{
			margin: 10px 0px 20px 20px;
			text-transform: uppercase;
			font-size: 11px;
			line-height: 16px;
		}
		.postContent{
			margin-bottom: 1.2em;
			position: relative;
		}
	.comment
		.comment_box
			.comment_user{
				color: #3b5998;
				cursor: pointer;
				text-decoration: none;
				margin-top:5px

			}
			.comment_user_body{

			}
.btn-comment{
	margin: 10px 0px 10px 0px
}
footer{
   color: #faebd7;
   text-align: center;
//    // position:absolute;
//    // bottom:0;
//    width:100%;
//    height:80px;   /* Height of the footer */
//    background-color:#2F2F2F
}
